<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.open.soft.openappsoft"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="GradleOverrides">
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.orderinfo.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.TaskListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.TestTaskActivity"
            android:exported="false" />
        <activity android:name=".jinbiao.activity.TSCheckActivity" />
        <activity android:name=".activity.AddCompanySearchActivity" />
        <activity android:name=".activity.ErrorActivity" />
        <activity android:name=".jinbiao.activity.CheckActivityByMen" /> <!-- 高德定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0d23ded08bb7524eb0ead1298c014c4a" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".multifuction.activity.InputMessageDialog" />
        <activity android:name=".jinbiao.activity.LocationActivity" />
        <activity android:name=".multifuction.activity.TitrationTestActivity" />
        <activity android:name=".sql.activity.SQL2_Activity" />
        <activity android:name=".sql.activity.SQL_Activity" /> <!-- 数据共享 -->
        <activity android:name=".activity.SearchActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.open.soft.openappsoft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xmp9cQ7Vgax8h1AETDGsvUQsL3OaGRO9" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.AppManagerActivity" />

        <receiver android:name=".activity.BootReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <action android:name="android.intent.action.ACTION_SHUTDOWN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.FileActivity" />
        <activity
            android:name=".multifuction.activity.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <data -->
            <!-- android:host="com.tnd.multifuction.activity.MainActivity" -->
            <!-- android:scheme="com.tnd.multifuction" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".multifuction.activity.PesticideTestActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.knowledgeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SettingPTActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".multifuction.activity.PesticideTestActivity2"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".multifuction.activity.ResultQueryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".multifuction.activity.FenGuangActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".multifuction.activity.SystemSettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".multifuction.activity.SystemSettingActivity2"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".multifuction.activity.LocationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".multifuction.activity.UploadSettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".multifuction.activity.ProjectActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".multifuction.activity.StatisticsActivity" />
        <activity android:name=".multifuction.activity.DebugActivity" />
        <activity
            android:name=".multifuction.activity.SampleActivity"
            android:screenOrientation="landscape" /> <!-- <receiver android:name="com.open.soft.openappsoft.multifuction.receiver.BootReceiver"> -->
        <!-- <intent-filter android:priority="2147483647"> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver android:name=".multifuction.receiver.ShutdownBroadcastReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver> <!-- <activity android:name=".MainActivity" /> -->
        <!-- <activity android:name=".CheckActivity" /> -->
        <!-- <activity android:name=".CheckActivityByMen" /> -->
        <!-- <activity android:name=".SelectActivity" /> -->
        <!-- <activity android:name=".ResultActivity" /> -->
        <!-- <activity android:name=".ProjectManagerActivity" /> -->
        <!-- <activity android:name=".CheckProjectActivity" /> -->
        <!-- <activity android:name=".CheckProjectLineActivity" /> -->
        <!-- <activity android:name=".CheckProjectRoundActivity" /> -->
        <!-- <activity android:name=".CheckProjectCompanyActivity" /> -->
        <!-- <activity android:name=".CheckShiJiActivity" /> -->
        <!-- <activity android:name=".NetWorkSetting" /> -->
        <!-- <activity android:name=".ProductActivity" /> -->
        <!-- <activity android:name=".CheckResultPhotoActivity" /> -->
        <!-- <activity android:name=".SampleLineActivity" /> -->
        <!-- <activity android:name=".CheckSelectProjectActivity" /> -->
        <!-- <activity android:name=".SampleActivity" /> -->
        <!-- <activity android:name=".TypeActivity" /> -->
        <activity android:name=".jinbiao.activity.CheckActivity" />
        <activity android:name=".jinbiao.activity.MainActivity" />
        <activity android:name=".jinbiao.demo.CheckActivityByMen2" />
        <activity android:name=".jinbiao.activity.ProjectManagerActivity" />
        <activity android:name=".jinbiao.activity.SelectActivity" />
        <activity android:name=".jinbiao.activity.CheckProjectActivity" />
        <activity android:name=".jinbiao.activity.CheckProjectLineActivity" />
        <activity android:name=".jinbiao.activity.CheckProjectRoundActivity" />
        <activity android:name=".jinbiao.activity.CheckProjectCompanyActivity" />
        <activity android:name=".jinbiao.activity.CheckShiJiActivity" />
        <activity android:name=".jinbiao.activity.NetWorkSetting" />
        <activity android:name=".jinbiao.activity.ProductActivity" />
        <activity android:name=".jinbiao.activity.CheckResultPhotoActivity" />
        <activity android:name=".jinbiao.activity.SampleLineActivity" />
        <activity android:name=".jinbiao.activity.CheckSelectProjectActivity" />
        <activity android:name=".jinbiao.activity.SampleActivity" />
        <activity android:name=".jinbiao.activity.TypeActivity" />
        <activity android:name=".jinbiao.activity.ResultActivity" /> <!-- <receiver android:name="com.open.soft.openappsoft.jinbiao.receiver.BootReceiver"> -->
        <!-- <intent-filter android:priority="2147483647"> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"></action> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"></category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>